<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="dbconnect" connectionString="Data Source=DESKTOP-ALCNP3J;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="Data Source=DESKTOP-ALCNP3J;Initial Catalog=userregistration;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="masterConnectionString" connectionString="Data Source=DESKTOP-ALCNP3J;Initial Catalog=master;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ConnectionString2" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>
